BAFB5:root {
  --primary: #4A5356;
  --secondary: #cadbda;
  --tertiary: #9BAFB5;
  --quatrinary: #B2C2C1;
  --light: #e1f5f4;
  --dark: #373E40;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-size: cover;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  background-size: cover;
  box-shadow: 218px 1566px #FFF , 1861px 953px #FFF , 943px 172px #FFF , 1118px 673px #FFF , 789px 1688px #FFF , 1535px 1048px #FFF , 1719px 1016px #FFF , 1191px 719px #FFF , 1614px 530px #FFF , 777px 1564px #FFF , 67px 1324px #FFF , 224px 833px #FFF , 579px 1312px #FFF , 1917px 1016px #FFF , 448px 1082px #FFF , 1996px 96px #FFF , 40px 84px #FFF , 1238px 1780px #FFF , 1879px 1142px #FFF , 1319px 1180px #FFF , 1176px 1478px #FFF , 1061px 906px #FFF , 1928px 813px #FFF , 1091px 51px #FFF , 1827px 929px #FFF , 1288px 627px #FFF , 1692px 921px #FFF , 1514px 877px #FFF , 389px 1303px #FFF , 374px 602px #FFF , 539px 1683px #FFF , 621px 798px #FFF , 1923px 581px #FFF , 1138px 1053px #FFF , 213px 830px #FFF , 743px 1059px #FFF , 202px 1163px #FFF , 1820px 1233px #FFF , 904px 1153px #FFF , 628px 1677px #FFF , 1482px 797px #FFF , 1777px 301px #FFF , 208px 1224px #FFF , 68px 1677px #FFF , 1555px 1287px #FFF , 1576px 512px #FFF , 490px 1665px #FFF , 570px 1586px #FFF , 1409px 32px #FFF , 263px 33px #FFF , 1112px 1040px #FFF , 683px 1770px #FFF , 679px 1801px #FFF , 445px 1767px #FFF , 189px 847px #FFF , 1160px 194px #FFF , 1997px 1559px #FFF , 654px 1957px #FFF , 242px 112px #FFF , 1682px 1976px #FFF , 1476px 1193px #FFF , 184px 405px #FFF , 1181px 1685px #FFF , 823px 167px #FFF , 1833px 1939px #FFF , 1446px 647px #FFF , 1221px 1436px #FFF , 838px 413px #FFF , 1976px 231px #FFF , 490px 91px #FFF , 1726px 1507px #FFF , 1777px 930px #FFF , 1791px 1593px #FFF , 467px 236px #FFF , 105px 1015px #FFF , 1587px 826px #FFF , 1439px 1795px #FFF , 1893px 1285px #FFF , 118px 44px #FFF , 1879px 676px #FFF , 1868px 646px #FFF , 653px 1115px #FFF , 1779px 1848px #FFF , 1349px 1455px #FFF , 1245px 1319px #FFF , 250px 1193px #FFF , 366px 535px #FFF , 1537px 1457px #FFF , 1780px 184px #FFF , 1621px 989px #FFF , 1939px 27px #FFF , 1344px 1811px #FFF , 1071px 548px #FFF , 1000px 707px #FFF , 1425px 1035px #FFF , 689px 1428px #FFF , 954px 606px #FFF , 479px 1779px #FFF , 1713px 1230px #FFF , 921px 908px #FFF , 1535px 50px #FFF , 1844px 865px #FFF , 501px 1407px #FFF , 1072px 1378px #FFF , 1406px 767px #FFF , 508px 15px #FFF , 184px 1686px #FFF , 1232px 1531px #FFF , 978px 585px #FFF , 1987px 1005px #FFF , 1047px 909px #FFF , 584px 347px #FFF , 932px 227px #FFF , 1615px 1674px #FFF , 5px 1781px #FFF , 93px 1027px #FFF , 1409px 1687px #FFF , 1684px 1907px #FFF , 352px 962px #FFF , 691px 395px #FFF , 824px 913px #FFF , 408px 866px #FFF , 506px 103px #FFF , 77px 1856px #FFF , 1309px 1542px #FFF , 251px 458px #FFF , 766px 1521px #FFF , 883px 9px #FFF , 1473px 694px #FFF , 1288px 1368px #FFF , 238px 812px #FFF , 1277px 534px #FFF , 1664px 582px #FFF , 240px 1956px #FFF , 241px 1594px #FFF , 1369px 592px #FFF , 101px 688px #FFF , 571px 848px #FFF , 716px 364px #FFF , 344px 125px #FFF , 1847px 856px #FFF , 1786px 245px #FFF , 1409px 437px #FFF , 1304px 666px #FFF , 1205px 878px #FFF , 758px 1043px #FFF , 1620px 1874px #FFF , 955px 634px #FFF , 615px 692px #FFF , 195px 90px #FFF , 890px 325px #FFF , 1229px 160px #FFF , 1909px 956px #FFF , 1635px 1578px #FFF , 638px 993px #FFF , 479px 1756px #FFF , 685px 922px #FFF , 1868px 1369px #FFF , 360px 413px #FFF , 1533px 544px #FFF , 1628px 1988px #FFF , 1834px 551px #FFF , 1347px 1259px #FFF , 1936px 56px #FFF , 1801px 901px #FFF , 1577px 1637px #FFF , 1334px 444px #FFF , 687px 1547px #FFF , 1319px 112px #FFF , 902px 788px #FFF , 321px 1663px #FFF , 1163px 1px #FFF , 1516px 1330px #FFF , 636px 1019px #FFF , 1695px 1971px #FFF , 874px 1647px #FFF , 976px 1816px #FFF , 47px 501px #FFF , 521px 211px #FFF , 180px 905px #FFF , 1793px 1060px #FFF , 316px 1543px #FFF , 21px 1241px #FFF , 737px 1957px #FFF , 532px 1989px #FFF , 1546px 1868px #FFF , 334px 479px #FFF , 31px 228px #FFF , 1236px 564px #FFF , 305px 585px #FFF , 1961px 524px #FFF , 1565px 1590px #FFF , 1003px 1835px #FFF , 1284px 380px #FFF , 1450px 88px #FFF , 179px 1998px #FFF , 1117px 1753px #FFF , 356px 1641px #FFF , 915px 287px #FFF , 1353px 747px #FFF , 916px 1383px #FFF , 1976px 1449px #FFF , 1486px 1946px #FFF , 495px 1083px #FFF , 597px 784px #FFF , 864px 1095px #FFF , 697px 1647px #FFF , 66px 1225px #FFF , 1704px 428px #FFF , 822px 1030px #FFF , 870px 890px #FFF , 1672px 1859px #FFF , 1523px 1922px #FFF , 339px 1078px #FFF , 1679px 1002px #FFF , 1001px 321px #FFF , 361px 456px #FFF , 1580px 1422px #FFF , 1788px 1145px #FFF , 951px 267px #FFF , 36px 434px #FFF , 1358px 958px #FFF , 554px 378px #FFF , 840px 711px #FFF , 1751px 864px #FFF , 1258px 1086px #FFF , 92px 714px #FFF , 629px 14px #FFF , 255px 1781px #FFF , 296px 160px #FFF , 1010px 276px #FFF , 269px 452px #FFF , 81px 1176px #FFF , 460px 754px #FFF , 1776px 1342px #FFF , 1005px 1472px #FFF , 779px 646px #FFF , 7px 1389px #FFF , 955px 1743px #FFF , 422px 1131px #FFF , 1185px 154px #FFF , 191px 1509px #FFF , 744px 1751px #FFF , 1785px 317px #FFF , 1233px 791px #FFF , 1883px 1844px #FFF , 1637px 893px #FFF , 1908px 60px #FFF , 1668px 550px #FFF , 1107px 1746px #FFF , 791px 452px #FFF , 133px 1539px #FFF , 1592px 313px #FFF , 9px 267px #FFF , 1647px 1276px #FFF , 14px 584px #FFF , 969px 1957px #FFF , 1688px 1297px #FFF , 1329px 782px #FFF , 691px 1680px #FFF , 97px 842px #FFF , 1532px 450px #FFF , 828px 496px #FFF , 844px 1390px #FFF , 566px 1947px #FFF , 1313px 1270px #FFF , 1209px 456px #FFF , 335px 1937px #FFF , 94px 942px #FFF , 1964px 986px #FFF , 946px 1893px #FFF , 1130px 875px #FFF , 91px 18px #FFF , 1056px 1621px #FFF , 79px 1477px #FFF , 1745px 1837px #FFF , 951px 1884px #FFF , 841px 822px #FFF , 1946px 158px #FFF , 1036px 1654px #FFF , 657px 1396px #FFF , 641px 833px #FFF , 284px 69px #FFF , 1171px 455px #FFF , 1400px 1381px #FFF , 605px 468px #FFF , 899px 351px #FFF , 134px 673px #FFF , 685px 1177px #FFF , 827px 1336px #FFF , 649px 1754px #FFF , 1654px 655px #FFF , 886px 656px #FFF , 1337px 1461px #FFF , 167px 1377px #FFF , 425px 1762px #FFF , 1873px 632px #FFF , 197px 403px #FFF , 1835px 833px #FFF , 1411px 1118px #FFF , 311px 257px #FFF , 822px 1335px #FFF , 1926px 424px #FFF , 1908px 1965px #FFF , 1424px 1508px #FFF , 910px 95px #FFF , 326px 1518px #FFF , 693px 631px #FFF , 466px 143px #FFF , 1437px 1395px #FFF , 1104px 49px #FFF , 330px 1805px #FFF , 1219px 576px #FFF , 459px 1370px #FFF , 1777px 1355px #FFF , 1271px 696px #FFF , 304px 1664px #FFF , 232px 1614px #FFF , 84px 762px #FFF , 373px 349px #FFF , 1470px 1225px #FFF , 1273px 1239px #FFF , 284px 1891px #FFF , 807px 1686px #FFF , 1656px 1867px #FFF , 1033px 1515px #FFF , 1290px 851px #FFF , 1521px 907px #FFF , 17px 89px #FFF , 1338px 35px #FFF , 603px 165px #FFF , 1094px 224px #FFF , 938px 745px #FFF , 1034px 1749px #FFF , 940px 977px #FFF , 751px 1701px #FFF , 779px 251px #FFF , 1930px 247px #FFF , 642px 1092px #FFF , 843px 1221px #FFF , 706px 1916px #FFF , 391px 378px #FFF , 1773px 804px #FFF , 1805px 817px #FFF , 1031px 695px #FFF , 953px 1865px #FFF , 1476px 371px #FFF , 1749px 1808px #FFF , 1139px 1618px #FFF , 1787px 601px #FFF , 1813px 1943px #FFF , 723px 1455px #FFF , 649px 1436px #FFF , 541px 1875px #FFF , 1510px 916px #FFF , 1499px 1682px #FFF , 330px 129px #FFF , 889px 1905px #FFF , 1978px 1479px #FFF , 1452px 427px #FFF , 536px 1463px #FFF , 87px 151px #FFF , 1888px 72px #FFF , 1456px 1987px #FFF , 1608px 1467px #FFF , 1763px 1552px #FFF , 1811px 153px #FFF , 1177px 1699px #FFF , 436px 21px #FFF , 1198px 655px #FFF , 1369px 657px #FFF , 804px 666px #FFF , 303px 1315px #FFF , 1810px 789px #FFF , 17px 992px #FFF , 1458px 6px #FFF , 1581px 305px #FFF , 1776px 1953px #FFF , 1266px 1280px #FFF , 947px 812px #FFF , 84px 752px #FFF , 167px 1867px #FFF , 1317px 1605px #FFF , 993px 1608px #FFF , 207px 1623px #FFF , 1290px 1824px #FFF , 1949px 1794px #FFF , 969px 522px #FFF , 1459px 1862px #FFF , 617px 1319px #FFF , 990px 379px #FFF , 955px 617px #FFF , 1834px 980px #FFF , 1731px 474px #FFF , 1062px 118px #FFF , 701px 458px #FFF , 119px 1199px #FFF , 910px 125px #FFF , 1117px 1968px #FFF , 1559px 1258px #FFF , 442px 769px #FFF , 305px 1053px #FFF , 879px 1106px #FFF , 640px 938px #FFF , 23px 1051px #FFF , 653px 1214px #FFF , 1381px 314px #FFF , 1144px 286px #FFF , 1402px 287px #FFF , 1651px 655px #FFF , 763px 251px #FFF , 566px 797px #FFF , 389px 589px #FFF , 1131px 1581px #FFF , 1904px 467px #FFF , 319px 666px #FFF , 1292px 1975px #FFF , 1308px 1553px #FFF , 850px 1620px #FFF , 206px 189px #FFF , 1135px 1963px #FFF , 1563px 1983px #FFF , 278px 738px #FFF , 418px 1371px #FFF , 743px 698px #FFF , 759px 1429px #FFF , 1488px 926px #FFF , 1151px 504px #FFF , 112px 524px #FFF , 1777px 1660px #FFF , 1511px 219px #FFF , 1292px 276px #FFF , 1765px 918px #FFF , 1524px 968px #FFF , 1326px 455px #FFF , 1107px 251px #FFF , 502px 1476px #FFF , 1811px 1280px #FFF , 112px 1169px #FFF , 1980px 1361px #FFF , 44px 1809px #FFF , 889px 1041px #FFF , 1160px 214px #FFF , 1609px 1241px #FFF , 276px 610px #FFF , 1482px 1540px #FFF , 1859px 1906px #FFF , 1067px 946px #FFF , 433px 1908px #FFF , 256px 802px #FFF , 360px 1904px #FFF , 1793px 1165px #FFF , 561px 895px #FFF , 856px 994px #FFF , 1774px 290px #FFF , 1412px 434px #FFF , 1643px 1669px #FFF , 922px 1882px #FFF , 33px 39px #FFF , 391px 514px #FFF , 125px 55px #FFF , 879px 431px #FFF , 1561px 622px #FFF , 1672px 27px #FFF , 452px 1673px #FFF , 642px 379px #FFF , 1701px 260px #FFF , 118px 749px #FFF , 1850px 1985px #FFF , 728px 914px #FFF , 235px 749px #FFF , 1435px 713px #FFF , 524px 1933px #FFF , 1638px 996px #FFF , 783px 1934px #FFF , 37px 1947px #FFF , 1865px 1122px #FFF , 377px 982px #FFF , 1537px 1851px #FFF , 962px 1134px #FFF , 863px 830px #FFF , 135px 523px #FFF , 376px 32px #FFF , 372px 518px #FFF , 71px 9px #FFF , 1972px 567px #FFF , 1040px 1166px #FFF , 254px 300px #FFF , 1344px 486px #FFF , 1112px 137px #FFF , 1925px 433px #FFF , 1103px 1434px #FFF , 1183px 1584px #FFF , 322px 608px #FFF , 1435px 1098px #FFF , 584px 811px #FFF , 627px 46px #FFF , 1268px 5px #FFF , 405px 992px #FFF , 949px 1667px #FFF , 104px 1356px #FFF , 347px 760px #FFF , 148px 1988px #FFF , 725px 1221px #FFF , 919px 1753px #FFF , 269px 294px #FFF , 12px 1368px #FFF , 1252px 727px #FFF , 338px 1108px #FFF , 973px 1864px #FFF , 1648px 169px #FFF , 1297px 312px #FFF , 1316px 1056px #FFF , 275px 613px #FFF , 1115px 1274px #FFF , 1941px 814px #FFF , 413px 281px #FFF , 206px 1092px #FFF , 1611px 1572px #FFF , 332px 1439px #FFF , 39px 702px #FFF , 498px 1604px #FFF , 1720px 390px #FFF , 878px 1621px #FFF , 592px 1231px #FFF , 176px 45px #FFF , 1625px 944px #FFF , 1787px 93px #FFF , 618px 790px #FFF , 1337px 1109px #FFF , 1818px 1625px #FFF , 1067px 1474px #FFF , 480px 24px #FFF , 821px 384px #FFF , 665px 1600px #FFF , 415px 1096px #FFF , 1250px 8px #FFF , 1772px 8px #FFF , 751px 1670px #FFF , 1698px 1734px #FFF , 1212px 1223px #FFF , 452px 551px #FFF , 422px 680px #FFF , 1359px 519px #FFF , 1123px 1205px #FFF , 1580px 1640px #FFF , 1270px 1686px #FFF , 45px 533px #FFF , 222px 174px #FFF , 749px 47px #FFF , 934px 1595px #FFF , 363px 1185px #FFF , 14px 1716px #FFF , 372px 105px #FFF , 104px 1337px #FFF , 407px 1466px #FFF , 874px 1732px #FFF , 1089px 253px #FFF , 1642px 1644px #FFF , 101px 1811px #FFF , 298px 952px #FFF , 311px 1585px #FFF , 15px 1819px #FFF , 1440px 562px #FFF , 200px 1501px #FFF , 561px 1330px #FFF , 977px 380px #FFF , 720px 855px #FFF , 1903px 1924px #FFF , 1550px 1229px #FFF , 359px 1034px #FFF , 1031px 303px #FFF , 456px 1968px #FFF , 1457px 257px #FFF , 919px 1586px #FFF , 655px 795px #FFF , 901px 1837px #FFF , 1534px 1333px #FFF , 1915px 1486px #FFF , 1250px 328px #FFF , 1244px 1117px #FFF , 1609px 1219px #FFF , 415px 351px #FFF , 1656px 886px #FFF , 208px 1388px #FFF , 824px 1446px #FFF , 1289px 1547px #FFF , 1431px 927px #FFF , 490px 1744px #FFF , 1550px 706px #FFF , 186px 53px #FFF , 1424px 1487px #FFF , 1362px 1797px #FFF , 721px 965px #FFF , 1490px 920px #FFF , 816px 335px #FFF , 400px 427px #FFF , 1981px 189px #FFF , 1344px 1895px #FFF , 1756px 1162px #FFF , 309px 1652px #FFF , 714px 1874px #FFF , 1827px 660px #FFF , 933px 547px #FFF , 1312px 646px #FFF , 849px 1991px #FFF , 315px 496px #FFF , 1231px 1306px #FFF , 1248px 755px #FFF , 512px 1624px #FFF , 1994px 1069px #FFF , 537px 216px #FFF , 1940px 1340px #FFF , 1761px 875px #FFF , 1189px 116px #FFF , 1200px 366px #FFF , 296px 1679px #FFF , 1541px 1090px #FFF , 1445px 576px #FFF , 1483px 1965px #FFF , 313px 734px #FFF , 98px 103px #FFF , 402px 360px #FFF , 76px 853px #FFF , 171px 4px #FFF , 252px 802px #FFF , 1324px 1201px #FFF , 1999px 1140px #FFF , 698px 1767px #FFF , 1119px 1868px #FFF , 1280px 739px #FFF , 1303px 1445px #FFF , 1931px 1568px #FFF , 16px 103px #FFF , 2px 1906px #FFF , 232px 1885px #FFF , 8px 1016px #FFF , 1095px 1164px #FFF , 1803px 1329px #FFF , 1751px 181px #FFF , 1261px 1161px #FFF , 660px 1130px #FFF , 243px 1715px #FFF , 1707px 1357px #FFF , 1581px 1658px #FFF , 75px 1631px #FFF , 163px 621px #FFF , 1659px 105px #FFF , 1899px 1707px #FFF , 1988px 775px #FFF , 1956px 952px #FFF , 1281px 447px #FFF , 526px 19px #FFF , 1649px 1758px #FFF , 307px 693px #FFF , 1239px 603px #FFF , 399px 1408px #FFF , 570px 720px #FFF , 869px 166px #FFF , 777px 1841px #FFF , 367px 1337px #FFF , 1709px 688px #FFF , 1299px 1996px #FFF , 1487px 57px #FFF , 586px 1240px #FFF , 1884px 1312px #FFF , 395px 1629px #FFF , 255px 544px #FFF , 1802px 472px #FFF , 1447px 64px #FFF , 331px 1885px #FFF , 1683px 1972px #FFF , 1988px 1467px #FFF , 1292px 939px #FFF , 167px 685px #FFF , 665px 1951px #FFF , 618px 1410px #FFF , 414px 261px #FFF , 1532px 234px #FFF , 1357px 1181px #FFF , 658px 1081px #FFF , 364px 1595px #FFF , 577px 1811px #FFF , 33px 98px #FFF , 219px 753px #FFF , 560px 755px #FFF , 129px 812px #FFF , 1150px 1860px #FFF , 214px 349px #FFF , 1902px 1690px #FFF , 430px 1392px #FFF , 594px 1586px #FFF , 99px 97px #FFF , 1084px 779px #FFF , 1864px 1357px #FFF , 971px 544px #FFF , 246px 622px #FFF , 6px 1708px #FFF , 543px 264px #FFF , 437px 1291px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  background-size: cover;
  box-shadow: 218px 1566px #FFF , 1861px 953px #FFF , 943px 172px #FFF , 1118px 673px #FFF , 789px 1688px #FFF , 1535px 1048px #FFF , 1719px 1016px #FFF , 1191px 719px #FFF , 1614px 530px #FFF , 777px 1564px #FFF , 67px 1324px #FFF , 224px 833px #FFF , 579px 1312px #FFF , 1917px 1016px #FFF , 448px 1082px #FFF , 1996px 96px #FFF , 40px 84px #FFF , 1238px 1780px #FFF , 1879px 1142px #FFF , 1319px 1180px #FFF , 1176px 1478px #FFF , 1061px 906px #FFF , 1928px 813px #FFF , 1091px 51px #FFF , 1827px 929px #FFF , 1288px 627px #FFF , 1692px 921px #FFF , 1514px 877px #FFF , 389px 1303px #FFF , 374px 602px #FFF , 539px 1683px #FFF , 621px 798px #FFF , 1923px 581px #FFF , 1138px 1053px #FFF , 213px 830px #FFF , 743px 1059px #FFF , 202px 1163px #FFF , 1820px 1233px #FFF , 904px 1153px #FFF , 628px 1677px #FFF , 1482px 797px #FFF , 1777px 301px #FFF , 208px 1224px #FFF , 68px 1677px #FFF , 1555px 1287px #FFF , 1576px 512px #FFF , 490px 1665px #FFF , 570px 1586px #FFF , 1409px 32px #FFF , 263px 33px #FFF , 1112px 1040px #FFF , 683px 1770px #FFF , 679px 1801px #FFF , 445px 1767px #FFF , 189px 847px #FFF , 1160px 194px #FFF , 1997px 1559px #FFF , 654px 1957px #FFF , 242px 112px #FFF , 1682px 1976px #FFF , 1476px 1193px #FFF , 184px 405px #FFF , 1181px 1685px #FFF , 823px 167px #FFF , 1833px 1939px #FFF , 1446px 647px #FFF , 1221px 1436px #FFF , 838px 413px #FFF , 1976px 231px #FFF , 490px 91px #FFF , 1726px 1507px #FFF , 1777px 930px #FFF , 1791px 1593px #FFF , 467px 236px #FFF , 105px 1015px #FFF , 1587px 826px #FFF , 1439px 1795px #FFF , 1893px 1285px #FFF , 118px 44px #FFF , 1879px 676px #FFF , 1868px 646px #FFF , 653px 1115px #FFF , 1779px 1848px #FFF , 1349px 1455px #FFF , 1245px 1319px #FFF , 250px 1193px #FFF , 366px 535px #FFF , 1537px 1457px #FFF , 1780px 184px #FFF , 1621px 989px #FFF , 1939px 27px #FFF , 1344px 1811px #FFF , 1071px 548px #FFF , 1000px 707px #FFF , 1425px 1035px #FFF , 689px 1428px #FFF , 954px 606px #FFF , 479px 1779px #FFF , 1713px 1230px #FFF , 921px 908px #FFF , 1535px 50px #FFF , 1844px 865px #FFF , 501px 1407px #FFF , 1072px 1378px #FFF , 1406px 767px #FFF , 508px 15px #FFF , 184px 1686px #FFF , 1232px 1531px #FFF , 978px 585px #FFF , 1987px 1005px #FFF , 1047px 909px #FFF , 584px 347px #FFF , 932px 227px #FFF , 1615px 1674px #FFF , 5px 1781px #FFF , 93px 1027px #FFF , 1409px 1687px #FFF , 1684px 1907px #FFF , 352px 962px #FFF , 691px 395px #FFF , 824px 913px #FFF , 408px 866px #FFF , 506px 103px #FFF , 77px 1856px #FFF , 1309px 1542px #FFF , 251px 458px #FFF , 766px 1521px #FFF , 883px 9px #FFF , 1473px 694px #FFF , 1288px 1368px #FFF , 238px 812px #FFF , 1277px 534px #FFF , 1664px 582px #FFF , 240px 1956px #FFF , 241px 1594px #FFF , 1369px 592px #FFF , 101px 688px #FFF , 571px 848px #FFF , 716px 364px #FFF , 344px 125px #FFF , 1847px 856px #FFF , 1786px 245px #FFF , 1409px 437px #FFF , 1304px 666px #FFF , 1205px 878px #FFF , 758px 1043px #FFF , 1620px 1874px #FFF , 955px 634px #FFF , 615px 692px #FFF , 195px 90px #FFF , 890px 325px #FFF , 1229px 160px #FFF , 1909px 956px #FFF , 1635px 1578px #FFF , 638px 993px #FFF , 479px 1756px #FFF , 685px 922px #FFF , 1868px 1369px #FFF , 360px 413px #FFF , 1533px 544px #FFF , 1628px 1988px #FFF , 1834px 551px #FFF , 1347px 1259px #FFF , 1936px 56px #FFF , 1801px 901px #FFF , 1577px 1637px #FFF , 1334px 444px #FFF , 687px 1547px #FFF , 1319px 112px #FFF , 902px 788px #FFF , 321px 1663px #FFF , 1163px 1px #FFF , 1516px 1330px #FFF , 636px 1019px #FFF , 1695px 1971px #FFF , 874px 1647px #FFF , 976px 1816px #FFF , 47px 501px #FFF , 521px 211px #FFF , 180px 905px #FFF , 1793px 1060px #FFF , 316px 1543px #FFF , 21px 1241px #FFF , 737px 1957px #FFF , 532px 1989px #FFF , 1546px 1868px #FFF , 334px 479px #FFF , 31px 228px #FFF , 1236px 564px #FFF , 305px 585px #FFF , 1961px 524px #FFF , 1565px 1590px #FFF , 1003px 1835px #FFF , 1284px 380px #FFF , 1450px 88px #FFF , 179px 1998px #FFF , 1117px 1753px #FFF , 356px 1641px #FFF , 915px 287px #FFF , 1353px 747px #FFF , 916px 1383px #FFF , 1976px 1449px #FFF , 1486px 1946px #FFF , 495px 1083px #FFF , 597px 784px #FFF , 864px 1095px #FFF , 697px 1647px #FFF , 66px 1225px #FFF , 1704px 428px #FFF , 822px 1030px #FFF , 870px 890px #FFF , 1672px 1859px #FFF , 1523px 1922px #FFF , 339px 1078px #FFF , 1679px 1002px #FFF , 1001px 321px #FFF , 361px 456px #FFF , 1580px 1422px #FFF , 1788px 1145px #FFF , 951px 267px #FFF , 36px 434px #FFF , 1358px 958px #FFF , 554px 378px #FFF , 840px 711px #FFF , 1751px 864px #FFF , 1258px 1086px #FFF , 92px 714px #FFF , 629px 14px #FFF , 255px 1781px #FFF , 296px 160px #FFF , 1010px 276px #FFF , 269px 452px #FFF , 81px 1176px #FFF , 460px 754px #FFF , 1776px 1342px #FFF , 1005px 1472px #FFF , 779px 646px #FFF , 7px 1389px #FFF , 955px 1743px #FFF , 422px 1131px #FFF , 1185px 154px #FFF , 191px 1509px #FFF , 744px 1751px #FFF , 1785px 317px #FFF , 1233px 791px #FFF , 1883px 1844px #FFF , 1637px 893px #FFF , 1908px 60px #FFF , 1668px 550px #FFF , 1107px 1746px #FFF , 791px 452px #FFF , 133px 1539px #FFF , 1592px 313px #FFF , 9px 267px #FFF , 1647px 1276px #FFF , 14px 584px #FFF , 969px 1957px #FFF , 1688px 1297px #FFF , 1329px 782px #FFF , 691px 1680px #FFF , 97px 842px #FFF , 1532px 450px #FFF , 828px 496px #FFF , 844px 1390px #FFF , 566px 1947px #FFF , 1313px 1270px #FFF , 1209px 456px #FFF , 335px 1937px #FFF , 94px 942px #FFF , 1964px 986px #FFF , 946px 1893px #FFF , 1130px 875px #FFF , 91px 18px #FFF , 1056px 1621px #FFF , 79px 1477px #FFF , 1745px 1837px #FFF , 951px 1884px #FFF , 841px 822px #FFF , 1946px 158px #FFF , 1036px 1654px #FFF , 657px 1396px #FFF , 641px 833px #FFF , 284px 69px #FFF , 1171px 455px #FFF , 1400px 1381px #FFF , 605px 468px #FFF , 899px 351px #FFF , 134px 673px #FFF , 685px 1177px #FFF , 827px 1336px #FFF , 649px 1754px #FFF , 1654px 655px #FFF , 886px 656px #FFF , 1337px 1461px #FFF , 167px 1377px #FFF , 425px 1762px #FFF , 1873px 632px #FFF , 197px 403px #FFF , 1835px 833px #FFF , 1411px 1118px #FFF , 311px 257px #FFF , 822px 1335px #FFF , 1926px 424px #FFF , 1908px 1965px #FFF , 1424px 1508px #FFF , 910px 95px #FFF , 326px 1518px #FFF , 693px 631px #FFF , 466px 143px #FFF , 1437px 1395px #FFF , 1104px 49px #FFF , 330px 1805px #FFF , 1219px 576px #FFF , 459px 1370px #FFF , 1777px 1355px #FFF , 1271px 696px #FFF , 304px 1664px #FFF , 232px 1614px #FFF , 84px 762px #FFF , 373px 349px #FFF , 1470px 1225px #FFF , 1273px 1239px #FFF , 284px 1891px #FFF , 807px 1686px #FFF , 1656px 1867px #FFF , 1033px 1515px #FFF , 1290px 851px #FFF , 1521px 907px #FFF , 17px 89px #FFF , 1338px 35px #FFF , 603px 165px #FFF , 1094px 224px #FFF , 938px 745px #FFF , 1034px 1749px #FFF , 940px 977px #FFF , 751px 1701px #FFF , 779px 251px #FFF , 1930px 247px #FFF , 642px 1092px #FFF , 843px 1221px #FFF , 706px 1916px #FFF , 391px 378px #FFF , 1773px 804px #FFF , 1805px 817px #FFF , 1031px 695px #FFF , 953px 1865px #FFF , 1476px 371px #FFF , 1749px 1808px #FFF , 1139px 1618px #FFF , 1787px 601px #FFF , 1813px 1943px #FFF , 723px 1455px #FFF , 649px 1436px #FFF , 541px 1875px #FFF , 1510px 916px #FFF , 1499px 1682px #FFF , 330px 129px #FFF , 889px 1905px #FFF , 1978px 1479px #FFF , 1452px 427px #FFF , 536px 1463px #FFF , 87px 151px #FFF , 1888px 72px #FFF , 1456px 1987px #FFF , 1608px 1467px #FFF , 1763px 1552px #FFF , 1811px 153px #FFF , 1177px 1699px #FFF , 436px 21px #FFF , 1198px 655px #FFF , 1369px 657px #FFF , 804px 666px #FFF , 303px 1315px #FFF , 1810px 789px #FFF , 17px 992px #FFF , 1458px 6px #FFF , 1581px 305px #FFF , 1776px 1953px #FFF , 1266px 1280px #FFF , 947px 812px #FFF , 84px 752px #FFF , 167px 1867px #FFF , 1317px 1605px #FFF , 993px 1608px #FFF , 207px 1623px #FFF , 1290px 1824px #FFF , 1949px 1794px #FFF , 969px 522px #FFF , 1459px 1862px #FFF , 617px 1319px #FFF , 990px 379px #FFF , 955px 617px #FFF , 1834px 980px #FFF , 1731px 474px #FFF , 1062px 118px #FFF , 701px 458px #FFF , 119px 1199px #FFF , 910px 125px #FFF , 1117px 1968px #FFF , 1559px 1258px #FFF , 442px 769px #FFF , 305px 1053px #FFF , 879px 1106px #FFF , 640px 938px #FFF , 23px 1051px #FFF , 653px 1214px #FFF , 1381px 314px #FFF , 1144px 286px #FFF , 1402px 287px #FFF , 1651px 655px #FFF , 763px 251px #FFF , 566px 797px #FFF , 389px 589px #FFF , 1131px 1581px #FFF , 1904px 467px #FFF , 319px 666px #FFF , 1292px 1975px #FFF , 1308px 1553px #FFF , 850px 1620px #FFF , 206px 189px #FFF , 1135px 1963px #FFF , 1563px 1983px #FFF , 278px 738px #FFF , 418px 1371px #FFF , 743px 698px #FFF , 759px 1429px #FFF , 1488px 926px #FFF , 1151px 504px #FFF , 112px 524px #FFF , 1777px 1660px #FFF , 1511px 219px #FFF , 1292px 276px #FFF , 1765px 918px #FFF , 1524px 968px #FFF , 1326px 455px #FFF , 1107px 251px #FFF , 502px 1476px #FFF , 1811px 1280px #FFF , 112px 1169px #FFF , 1980px 1361px #FFF , 44px 1809px #FFF , 889px 1041px #FFF , 1160px 214px #FFF , 1609px 1241px #FFF , 276px 610px #FFF , 1482px 1540px #FFF , 1859px 1906px #FFF , 1067px 946px #FFF , 433px 1908px #FFF , 256px 802px #FFF , 360px 1904px #FFF , 1793px 1165px #FFF , 561px 895px #FFF , 856px 994px #FFF , 1774px 290px #FFF , 1412px 434px #FFF , 1643px 1669px #FFF , 922px 1882px #FFF , 33px 39px #FFF , 391px 514px #FFF , 125px 55px #FFF , 879px 431px #FFF , 1561px 622px #FFF , 1672px 27px #FFF , 452px 1673px #FFF , 642px 379px #FFF , 1701px 260px #FFF , 118px 749px #FFF , 1850px 1985px #FFF , 728px 914px #FFF , 235px 749px #FFF , 1435px 713px #FFF , 524px 1933px #FFF , 1638px 996px #FFF , 783px 1934px #FFF , 37px 1947px #FFF , 1865px 1122px #FFF , 377px 982px #FFF , 1537px 1851px #FFF , 962px 1134px #FFF , 863px 830px #FFF , 135px 523px #FFF , 376px 32px #FFF , 372px 518px #FFF , 71px 9px #FFF , 1972px 567px #FFF , 1040px 1166px #FFF , 254px 300px #FFF , 1344px 486px #FFF , 1112px 137px #FFF , 1925px 433px #FFF , 1103px 1434px #FFF , 1183px 1584px #FFF , 322px 608px #FFF , 1435px 1098px #FFF , 584px 811px #FFF , 627px 46px #FFF , 1268px 5px #FFF , 405px 992px #FFF , 949px 1667px #FFF , 104px 1356px #FFF , 347px 760px #FFF , 148px 1988px #FFF , 725px 1221px #FFF , 919px 1753px #FFF , 269px 294px #FFF , 12px 1368px #FFF , 1252px 727px #FFF , 338px 1108px #FFF , 973px 1864px #FFF , 1648px 169px #FFF , 1297px 312px #FFF , 1316px 1056px #FFF , 275px 613px #FFF , 1115px 1274px #FFF , 1941px 814px #FFF , 413px 281px #FFF , 206px 1092px #FFF , 1611px 1572px #FFF , 332px 1439px #FFF , 39px 702px #FFF , 498px 1604px #FFF , 1720px 390px #FFF , 878px 1621px #FFF , 592px 1231px #FFF , 176px 45px #FFF , 1625px 944px #FFF , 1787px 93px #FFF , 618px 790px #FFF , 1337px 1109px #FFF , 1818px 1625px #FFF , 1067px 1474px #FFF , 480px 24px #FFF , 821px 384px #FFF , 665px 1600px #FFF , 415px 1096px #FFF , 1250px 8px #FFF , 1772px 8px #FFF , 751px 1670px #FFF , 1698px 1734px #FFF , 1212px 1223px #FFF , 452px 551px #FFF , 422px 680px #FFF , 1359px 519px #FFF , 1123px 1205px #FFF , 1580px 1640px #FFF , 1270px 1686px #FFF , 45px 533px #FFF , 222px 174px #FFF , 749px 47px #FFF , 934px 1595px #FFF , 363px 1185px #FFF , 14px 1716px #FFF , 372px 105px #FFF , 104px 1337px #FFF , 407px 1466px #FFF , 874px 1732px #FFF , 1089px 253px #FFF , 1642px 1644px #FFF , 101px 1811px #FFF , 298px 952px #FFF , 311px 1585px #FFF , 15px 1819px #FFF , 1440px 562px #FFF , 200px 1501px #FFF , 561px 1330px #FFF , 977px 380px #FFF , 720px 855px #FFF , 1903px 1924px #FFF , 1550px 1229px #FFF , 359px 1034px #FFF , 1031px 303px #FFF , 456px 1968px #FFF , 1457px 257px #FFF , 919px 1586px #FFF , 655px 795px #FFF , 901px 1837px #FFF , 1534px 1333px #FFF , 1915px 1486px #FFF , 1250px 328px #FFF , 1244px 1117px #FFF , 1609px 1219px #FFF , 415px 351px #FFF , 1656px 886px #FFF , 208px 1388px #FFF , 824px 1446px #FFF , 1289px 1547px #FFF , 1431px 927px #FFF , 490px 1744px #FFF , 1550px 706px #FFF , 186px 53px #FFF , 1424px 1487px #FFF , 1362px 1797px #FFF , 721px 965px #FFF , 1490px 920px #FFF , 816px 335px #FFF , 400px 427px #FFF , 1981px 189px #FFF , 1344px 1895px #FFF , 1756px 1162px #FFF , 309px 1652px #FFF , 714px 1874px #FFF , 1827px 660px #FFF , 933px 547px #FFF , 1312px 646px #FFF , 849px 1991px #FFF , 315px 496px #FFF , 1231px 1306px #FFF , 1248px 755px #FFF , 512px 1624px #FFF , 1994px 1069px #FFF , 537px 216px #FFF , 1940px 1340px #FFF , 1761px 875px #FFF , 1189px 116px #FFF , 1200px 366px #FFF , 296px 1679px #FFF , 1541px 1090px #FFF , 1445px 576px #FFF , 1483px 1965px #FFF , 313px 734px #FFF , 98px 103px #FFF , 402px 360px #FFF , 76px 853px #FFF , 171px 4px #FFF , 252px 802px #FFF , 1324px 1201px #FFF , 1999px 1140px #FFF , 698px 1767px #FFF , 1119px 1868px #FFF , 1280px 739px #FFF , 1303px 1445px #FFF , 1931px 1568px #FFF , 16px 103px #FFF , 2px 1906px #FFF , 232px 1885px #FFF , 8px 1016px #FFF , 1095px 1164px #FFF , 1803px 1329px #FFF , 1751px 181px #FFF , 1261px 1161px #FFF , 660px 1130px #FFF , 243px 1715px #FFF , 1707px 1357px #FFF , 1581px 1658px #FFF , 75px 1631px #FFF , 163px 621px #FFF , 1659px 105px #FFF , 1899px 1707px #FFF , 1988px 775px #FFF , 1956px 952px #FFF , 1281px 447px #FFF , 526px 19px #FFF , 1649px 1758px #FFF , 307px 693px #FFF , 1239px 603px #FFF , 399px 1408px #FFF , 570px 720px #FFF , 869px 166px #FFF , 777px 1841px #FFF , 367px 1337px #FFF , 1709px 688px #FFF , 1299px 1996px #FFF , 1487px 57px #FFF , 586px 1240px #FFF , 1884px 1312px #FFF , 395px 1629px #FFF , 255px 544px #FFF , 1802px 472px #FFF , 1447px 64px #FFF , 331px 1885px #FFF , 1683px 1972px #FFF , 1988px 1467px #FFF , 1292px 939px #FFF , 167px 685px #FFF , 665px 1951px #FFF , 618px 1410px #FFF , 414px 261px #FFF , 1532px 234px #FFF , 1357px 1181px #FFF , 658px 1081px #FFF , 364px 1595px #FFF , 577px 1811px #FFF , 33px 98px #FFF , 219px 753px #FFF , 560px 755px #FFF , 129px 812px #FFF , 1150px 1860px #FFF , 214px 349px #FFF , 1902px 1690px #FFF , 430px 1392px #FFF , 594px 1586px #FFF , 99px 97px #FFF , 1084px 779px #FFF , 1864px 1357px #FFF , 971px 544px #FFF , 246px 622px #FFF , 6px 1708px #FFF , 543px 264px #FFF , 437px 1291px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  background-size: cover;
  box-shadow: 941px 833px #FFF , 1707px 683px #FFF , 1023px 929px #FFF , 1666px 1245px #FFF , 549px 376px #FFF , 1959px 1300px #FFF , 1512px 1424px #FFF , 1134px 518px #FFF , 1040px 1774px #FFF , 444px 246px #FFF , 1985px 1718px #FFF , 1587px 1702px #FFF , 946px 680px #FFF , 1480px 1600px #FFF , 151px 1471px #FFF , 470px 1937px #FFF , 574px 1958px #FFF , 632px 974px #FFF , 1375px 745px #FFF , 1188px 132px #FFF , 1601px 1333px #FFF , 1681px 570px #FFF , 1437px 1156px #FFF , 679px 944px #FFF , 713px 1160px #FFF , 1683px 1464px #FFF , 1052px 1850px #FFF , 926px 1446px #FFF , 1641px 1801px #FFF , 489px 456px #FFF , 705px 1924px #FFF , 1281px 994px #FFF , 830px 556px #FFF , 1996px 729px #FFF , 861px 1452px #FFF , 1499px 1247px #FFF , 442px 362px #FFF , 1768px 932px #FFF , 110px 1595px #FFF , 328px 996px #FFF , 71px 1558px #FFF , 1824px 1384px #FFF , 698px 1844px #FFF , 1625px 609px #FFF , 493px 453px #FFF , 1673px 1395px #FFF , 1788px 1680px #FFF , 1097px 490px #FFF , 1451px 751px #FFF , 1781px 479px #FFF , 637px 776px #FFF , 819px 633px #FFF , 33px 676px #FFF , 1557px 1976px #FFF , 1303px 219px #FFF , 1396px 972px #FFF , 92px 825px #FFF , 1123px 1164px #FFF , 648px 460px #FFF , 127px 867px #FFF , 1845px 1523px #FFF , 790px 1867px #FFF , 1186px 1633px #FFF , 742px 1928px #FFF , 1353px 965px #FFF , 1442px 382px #FFF , 1358px 60px #FFF , 1307px 501px #FFF , 837px 298px #FFF , 4px 747px #FFF , 1502px 1043px #FFF , 1637px 75px #FFF , 362px 1879px #FFF , 957px 906px #FFF , 1352px 31px #FFF , 1905px 1355px #FFF , 338px 1380px #FFF , 1434px 1549px #FFF , 1666px 321px #FFF , 234px 1971px #FFF , 1831px 367px #FFF , 1191px 6px #FFF , 669px 1182px #FFF , 477px 952px #FFF , 351px 63px #FFF , 1086px 648px #FFF , 1055px 1510px #FFF , 405px 997px #FFF , 1674px 739px #FFF , 1709px 1406px #FFF , 544px 494px #FFF , 1690px 304px #FFF , 329px 1376px #FFF , 1888px 1800px #FFF , 1201px 548px #FFF , 1284px 963px #FFF , 459px 63px #FFF , 1688px 1826px #FFF , 1134px 509px #FFF , 417px 1074px #FFF , 1415px 964px #FFF , 1033px 70px #FFF , 376px 383px #FFF , 506px 1679px #FFF , 633px 494px #FFF , 105px 296px #FFF , 1886px 1101px #FFF , 1777px 1432px #FFF , 1163px 1605px #FFF , 109px 889px #FFF , 1267px 1046px #FFF , 668px 1603px #FFF , 669px 1950px #FFF , 1733px 337px #FFF , 429px 202px #FFF , 1442px 1227px #FFF , 1538px 525px #FFF , 684px 699px #FFF , 117px 1802px #FFF , 819px 1457px #FFF , 925px 408px #FFF , 208px 14px #FFF , 1241px 1261px #FFF , 1500px 272px #FFF , 379px 607px #FFF , 1781px 1688px #FFF , 503px 1101px #FFF , 1745px 1953px #FFF , 1908px 1297px #FFF , 961px 1698px #FFF , 1172px 1751px #FFF , 440px 1160px #FFF , 526px 1706px #FFF , 1520px 1616px #FFF , 653px 1796px #FFF , 1906px 1562px #FFF , 757px 1627px #FFF , 1540px 1075px #FFF , 1735px 1044px #FFF , 894px 10px #FFF , 1086px 1472px #FFF , 1369px 859px #FFF , 1865px 420px #FFF , 341px 1469px #FFF , 428px 1566px #FFF , 1194px 123px #FFF , 1797px 1699px #FFF , 1433px 384px #FFF , 1641px 1710px #FFF , 1577px 479px #FFF , 1974px 1836px #FFF , 1061px 1729px #FFF , 442px 286px #FFF , 1262px 104px #FFF , 1756px 504px #FFF , 825px 890px #FFF , 1999px 1702px #FFF , 909px 196px #FFF , 41px 271px #FFF , 1669px 591px #FFF , 1932px 274px #FFF , 650px 1261px #FFF , 1734px 1024px #FFF , 523px 1602px #FFF , 750px 496px #FFF , 452px 461px #FFF , 1616px 1676px #FFF , 440px 129px #FFF , 139px 1421px #FFF , 1763px 1050px #FFF , 1377px 1084px #FFF , 1531px 36px #FFF , 1149px 967px #FFF , 1442px 1788px #FFF , 512px 1593px #FFF , 1036px 804px #FFF , 1436px 628px #FFF , 972px 1124px #FFF , 1295px 34px #FFF , 1458px 981px #FFF , 738px 850px #FFF , 634px 1143px #FFF , 617px 1794px #FFF , 316px 1983px #FFF , 1268px 905px #FFF , 1220px 522px #FFF , 96px 1029px #FFF , 1139px 1077px #FFF , 1504px 401px #FFF , 1648px 500px #FFF , 390px 161px #FFF , 1791px 1168px #FFF , 298px 1045px #FFF , 1924px 813px #FFF , 1905px 497px #FFF , 1864px 1126px #FFF , 1585px 14px #FFF , 1881px 647px #FFF , 895px 1749px #FFF , 1680px 1149px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  background-size: cover;
  box-shadow: 941px 833px #FFF , 1707px 683px #FFF , 1023px 929px #FFF , 1666px 1245px #FFF , 549px 376px #FFF , 1959px 1300px #FFF , 1512px 1424px #FFF , 1134px 518px #FFF , 1040px 1774px #FFF , 444px 246px #FFF , 1985px 1718px #FFF , 1587px 1702px #FFF , 946px 680px #FFF , 1480px 1600px #FFF , 151px 1471px #FFF , 470px 1937px #FFF , 574px 1958px #FFF , 632px 974px #FFF , 1375px 745px #FFF , 1188px 132px #FFF , 1601px 1333px #FFF , 1681px 570px #FFF , 1437px 1156px #FFF , 679px 944px #FFF , 713px 1160px #FFF , 1683px 1464px #FFF , 1052px 1850px #FFF , 926px 1446px #FFF , 1641px 1801px #FFF , 489px 456px #FFF , 705px 1924px #FFF , 1281px 994px #FFF , 830px 556px #FFF , 1996px 729px #FFF , 861px 1452px #FFF , 1499px 1247px #FFF , 442px 362px #FFF , 1768px 932px #FFF , 110px 1595px #FFF , 328px 996px #FFF , 71px 1558px #FFF , 1824px 1384px #FFF , 698px 1844px #FFF , 1625px 609px #FFF , 493px 453px #FFF , 1673px 1395px #FFF , 1788px 1680px #FFF , 1097px 490px #FFF , 1451px 751px #FFF , 1781px 479px #FFF , 637px 776px #FFF , 819px 633px #FFF , 33px 676px #FFF , 1557px 1976px #FFF , 1303px 219px #FFF , 1396px 972px #FFF , 92px 825px #FFF , 1123px 1164px #FFF , 648px 460px #FFF , 127px 867px #FFF , 1845px 1523px #FFF , 790px 1867px #FFF , 1186px 1633px #FFF , 742px 1928px #FFF , 1353px 965px #FFF , 1442px 382px #FFF , 1358px 60px #FFF , 1307px 501px #FFF , 837px 298px #FFF , 4px 747px #FFF , 1502px 1043px #FFF , 1637px 75px #FFF , 362px 1879px #FFF , 957px 906px #FFF , 1352px 31px #FFF , 1905px 1355px #FFF , 338px 1380px #FFF , 1434px 1549px #FFF , 1666px 321px #FFF , 234px 1971px #FFF , 1831px 367px #FFF , 1191px 6px #FFF , 669px 1182px #FFF , 477px 952px #FFF , 351px 63px #FFF , 1086px 648px #FFF , 1055px 1510px #FFF , 405px 997px #FFF , 1674px 739px #FFF , 1709px 1406px #FFF , 544px 494px #FFF , 1690px 304px #FFF , 329px 1376px #FFF , 1888px 1800px #FFF , 1201px 548px #FFF , 1284px 963px #FFF , 459px 63px #FFF , 1688px 1826px #FFF , 1134px 509px #FFF , 417px 1074px #FFF , 1415px 964px #FFF , 1033px 70px #FFF , 376px 383px #FFF , 506px 1679px #FFF , 633px 494px #FFF , 105px 296px #FFF , 1886px 1101px #FFF , 1777px 1432px #FFF , 1163px 1605px #FFF , 109px 889px #FFF , 1267px 1046px #FFF , 668px 1603px #FFF , 669px 1950px #FFF , 1733px 337px #FFF , 429px 202px #FFF , 1442px 1227px #FFF , 1538px 525px #FFF , 684px 699px #FFF , 117px 1802px #FFF , 819px 1457px #FFF , 925px 408px #FFF , 208px 14px #FFF , 1241px 1261px #FFF , 1500px 272px #FFF , 379px 607px #FFF , 1781px 1688px #FFF , 503px 1101px #FFF , 1745px 1953px #FFF , 1908px 1297px #FFF , 961px 1698px #FFF , 1172px 1751px #FFF , 440px 1160px #FFF , 526px 1706px #FFF , 1520px 1616px #FFF , 653px 1796px #FFF , 1906px 1562px #FFF , 757px 1627px #FFF , 1540px 1075px #FFF , 1735px 1044px #FFF , 894px 10px #FFF , 1086px 1472px #FFF , 1369px 859px #FFF , 1865px 420px #FFF , 341px 1469px #FFF , 428px 1566px #FFF , 1194px 123px #FFF , 1797px 1699px #FFF , 1433px 384px #FFF , 1641px 1710px #FFF , 1577px 479px #FFF , 1974px 1836px #FFF , 1061px 1729px #FFF , 442px 286px #FFF , 1262px 104px #FFF , 1756px 504px #FFF , 825px 890px #FFF , 1999px 1702px #FFF , 909px 196px #FFF , 41px 271px #FFF , 1669px 591px #FFF , 1932px 274px #FFF , 650px 1261px #FFF , 1734px 1024px #FFF , 523px 1602px #FFF , 750px 496px #FFF , 452px 461px #FFF , 1616px 1676px #FFF , 440px 129px #FFF , 139px 1421px #FFF , 1763px 1050px #FFF , 1377px 1084px #FFF , 1531px 36px #FFF , 1149px 967px #FFF , 1442px 1788px #FFF , 512px 1593px #FFF , 1036px 804px #FFF , 1436px 628px #FFF , 972px 1124px #FFF , 1295px 34px #FFF , 1458px 981px #FFF , 738px 850px #FFF , 634px 1143px #FFF , 617px 1794px #FFF , 316px 1983px #FFF , 1268px 905px #FFF , 1220px 522px #FFF , 96px 1029px #FFF , 1139px 1077px #FFF , 1504px 401px #FFF , 1648px 500px #FFF , 390px 161px #FFF , 1791px 1168px #FFF , 298px 1045px #FFF , 1924px 813px #FFF , 1905px 497px #FFF , 1864px 1126px #FFF , 1585px 14px #FFF , 1881px 647px #FFF , 895px 1749px #FFF , 1680px 1149px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  background-size: cover;
  box-shadow: 148px 1504px #FFF , 183px 611px #FFF , 1672px 976px #FFF , 127px 1587px #FFF , 1681px 1px #FFF , 1841px 545px #FFF , 52px 54px #FFF , 1739px 1973px #FFF , 680px 1295px #FFF , 1384px 1463px #FFF , 381px 1936px #FFF , 906px 1457px #FFF , 1521px 1209px #FFF , 284px 306px #FFF , 1452px 649px #FFF , 691px 608px #FFF , 1137px 1883px #FFF , 1326px 266px #FFF , 686px 326px #FFF , 103px 924px #FFF , 1828px 1244px #FFF , 537px 1931px #FFF , 1288px 892px #FFF , 1957px 1391px #FFF , 129px 1788px #FFF , 100px 1949px #FFF , 943px 1303px #FFF , 592px 1137px #FFF , 1453px 692px #FFF , 186px 1611px #FFF , 748px 773px #FFF , 307px 242px #FFF , 1036px 1178px #FFF , 1078px 1171px #FFF , 1063px 1075px #FFF , 1676px 1949px #FFF , 9px 1937px #FFF , 261px 1042px #FFF , 891px 1506px #FFF , 175px 1901px #FFF , 1580px 723px #FFF , 1445px 151px #FFF , 221px 235px #FFF , 103px 753px #FFF , 1063px 1796px #FFF , 1124px 1540px #FFF , 639px 394px #FFF , 217px 988px #FFF , 1586px 1212px #FFF , 74px 483px #FFF , 1384px 1998px #FFF , 1497px 1303px #FFF , 1193px 719px #FFF , 1951px 1136px #FFF , 1124px 1697px #FFF , 1815px 175px #FFF , 7px 567px #FFF , 747px 146px #FFF , 1173px 1178px #FFF , 1737px 939px #FFF , 560px 1616px #FFF , 47px 233px #FFF , 200px 207px #FFF , 1110px 1075px #FFF , 1857px 1998px #FFF , 1902px 13px #FFF , 1639px 632px #FFF , 1034px 1916px #FFF , 1736px 1526px #FFF , 266px 743px #FFF , 896px 807px #FFF , 1769px 1917px #FFF , 1512px 1878px #FFF , 1783px 1560px #FFF , 1856px 55px #FFF , 404px 1142px #FFF , 1836px 983px #FFF , 1473px 1257px #FFF , 565px 1231px #FFF , 1138px 660px #FFF , 999px 66px #FFF , 1346px 300px #FFF , 1781px 1865px #FFF , 949px 1437px #FFF , 694px 1011px #FFF , 1213px 1127px #FFF , 1928px 1478px #FFF , 1982px 711px #FFF , 367px 40px #FFF , 916px 904px #FFF , 1764px 236px #FFF , 52px 9px #FFF , 1888px 1508px #FFF , 1238px 1391px #FFF , 54px 1548px #FFF , 326px 746px #FFF , 1372px 44px #FFF , 1386px 170px #FFF , 1574px 1092px #FFF , 1439px 375px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  background-size: cover;
  box-shadow: 148px 1504px #FFF , 183px 611px #FFF , 1672px 976px #FFF , 127px 1587px #FFF , 1681px 1px #FFF , 1841px 545px #FFF , 52px 54px #FFF , 1739px 1973px #FFF , 680px 1295px #FFF , 1384px 1463px #FFF , 381px 1936px #FFF , 906px 1457px #FFF , 1521px 1209px #FFF , 284px 306px #FFF , 1452px 649px #FFF , 691px 608px #FFF , 1137px 1883px #FFF , 1326px 266px #FFF , 686px 326px #FFF , 103px 924px #FFF , 1828px 1244px #FFF , 537px 1931px #FFF , 1288px 892px #FFF , 1957px 1391px #FFF , 129px 1788px #FFF , 100px 1949px #FFF , 943px 1303px #FFF , 592px 1137px #FFF , 1453px 692px #FFF , 186px 1611px #FFF , 748px 773px #FFF , 307px 242px #FFF , 1036px 1178px #FFF , 1078px 1171px #FFF , 1063px 1075px #FFF , 1676px 1949px #FFF , 9px 1937px #FFF , 261px 1042px #FFF , 891px 1506px #FFF , 175px 1901px #FFF , 1580px 723px #FFF , 1445px 151px #FFF , 221px 235px #FFF , 103px 753px #FFF , 1063px 1796px #FFF , 1124px 1540px #FFF , 639px 394px #FFF , 217px 988px #FFF , 1586px 1212px #FFF , 74px 483px #FFF , 1384px 1998px #FFF , 1497px 1303px #FFF , 1193px 719px #FFF , 1951px 1136px #FFF , 1124px 1697px #FFF , 1815px 175px #FFF , 7px 567px #FFF , 747px 146px #FFF , 1173px 1178px #FFF , 1737px 939px #FFF , 560px 1616px #FFF , 47px 233px #FFF , 200px 207px #FFF , 1110px 1075px #FFF , 1857px 1998px #FFF , 1902px 13px #FFF , 1639px 632px #FFF , 1034px 1916px #FFF , 1736px 1526px #FFF , 266px 743px #FFF , 896px 807px #FFF , 1769px 1917px #FFF , 1512px 1878px #FFF , 1783px 1560px #FFF , 1856px 55px #FFF , 404px 1142px #FFF , 1836px 983px #FFF , 1473px 1257px #FFF , 565px 1231px #FFF , 1138px 660px #FFF , 999px 66px #FFF , 1346px 300px #FFF , 1781px 1865px #FFF , 949px 1437px #FFF , 694px 1011px #FFF , 1213px 1127px #FFF , 1928px 1478px #FFF , 1982px 711px #FFF , 367px 40px #FFF , 916px 904px #FFF , 1764px 236px #FFF , 52px 9px #FFF , 1888px 1508px #FFF , 1238px 1391px #FFF , 54px 1548px #FFF , 326px 746px #FFF , 1372px 44px #FFF , 1386px 170px #FFF , 1574px 1092px #FFF , 1439px 375px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

html,
body {
  min-height: 100%;
}

header {
  position: sticky;
  top: 0;
}

.header-background {
  background-image: url("./utils/pics/Spaceman\ 2.png");
  background-position: right center;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: white;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}
footer {
  position: sticky;
  bottom: 0;
  background-color: black;
}

nav {
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

/* .mainLoginInput:: {
  font-family: 'Inconsolata', monospace;
  } */

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.btn,
.pill {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
  font-family: 'Inconsolata', monospace;
}

.btn:hover,
.pill:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-inline {
  display: inline;
}

/* CARDS */
.card {
  margin: 0 0 0 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
}

.flex-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--secondary);
  margin-right: 0.2rem;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--secondary);
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* LAYOUT */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 92%;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* MARGIN/PADDING UTILS */

/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-one);
}

.m-2 {
  margin: var(--spacing-two);
}

.m-3 {
  margin: var(--spacing-three);
}

.m-4 {
  margin: var(--spacing-four);
}

.m-5 {
  margin: var(--spacing-five);
}

.m-auto {
  margin: auto;
}

/* Margin-bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-one);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: var(--spacing-four);
}

.mb-5 {
  margin-bottom: var(--spacing-five);
}

.mb-auto {
  margin-bottom: auto;
}

/* Margin-top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-one);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: var(--spacing-four);
}

.mt-5 {
  margin-top: var(--spacing-five);
}

.mt-auto {
  margin-top: auto;
}

/* Margin-right */

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spacing-one);
}

.mr-2 {
  margin-right: var(--spacing-two);
}

.mr-3 {
  margin-right: var(--spacing-three);
}

.mr-4 {
  margin-right: var(--spacing-four);
}

.mr-5 {
  margin-right: var(--spacing-five);
}

.mr-auto {
  margin-right: auto;
}

/* Margin-left */

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spacing-one);
}

.ml-2 {
  margin-left: var(--spacing-two);
}

.ml-3 {
  margin-left: var(--spacing-three);
}

.ml-4 {
  margin-left: var(--spacing-four);
}

.ml-5 {
  margin-left: var(--spacing-five);
}

.ml-auto {
  margin-left: auto;
}

/* Margin - x axis */

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.mx-4 {
  margin-right: var(--spacing-four);
  margin-left: var(--spacing-four);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Margin - y axis */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.my-4 {
  margin-top: var(--spacing-four);
  margin-bottom: var(--spacing-four);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding - all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-one);
}

.p-2 {
  padding: var(--spacing-two);
}

.p-3 {
  padding: var(--spacing-three);
}

.p-4 {
  padding: var(--spacing-four);
}

.p-5 {
  padding: var(--spacing-five);
}

.p-auto {
  padding: auto;
}

/* padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spacing-one);
}

.pb-2 {
  padding-bottom: var(--spacing-two);
}

.pb-3 {
  padding-bottom: var(--spacing-three);
}

.pb-4 {
  padding-bottom: var(--spacing-four);
}

.pb-5 {
  padding-bottom: var(--spacing-five);
}

.pb-auto {
  padding-bottom: auto;
}

/* padding-top */

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: var(--spacing-one);
}

.pt-2 {
  padding-top: var(--spacing-two);
}

.pt-3 {
  padding-top: var(--spacing-three);
}

.pt-4 {
  padding-top: var(--spacing-four);
}

.pt-5 {
  padding-top: var(--spacing-five);
}

.pt-auto {
  padding-top: auto;
}

/* padding-right */

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: var(--spacing-one);
}

.pr-2 {
  padding-right: var(--spacing-two);
}

.pr-3 {
  padding-right: var(--spacing-three);
}

.pr-4 {
  padding-right: var(--spacing-four);
}

.pr-5 {
  padding-right: var(--spacing-five);
}

.pr-auto {
  padding-right: auto;
}

/* padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spacing-one);
}

.pl-2 {
  padding-left: var(--spacing-two);
}

.pl-3 {
  padding-left: var(--spacing-three);
}

.pl-4 {
  padding-left: var(--spacing-four);
}

.pl-5 {
  padding-left: var(--spacing-five);
}

.pl-auto {
  padding-left: auto;
}

/* padding - x axis */

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-3 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-4 {
  padding-right: var(--spacing-four);
  padding-left: var(--spacing-four);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

/* Padding - y axis */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}

.py-4 {
  padding-top: var(--spacing-four);
  padding-bottom: var(--spacing-four);
}

.py-5 {
  padding-top: var(--spacing-five);
  padding-bottom: var(--spacing-five);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-quatrinary {
  color: var(--quatrinary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-error {
  color: var(--error);
}

/* BACKGROUND UTILS */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: black;
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 0 0 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-sm {
    justify-content: space-between;
  }

  .justify-space-around-sm {
    justify-content: space-around;
  }

  .justify-flex-start-sm {
    justify-content: flex-start;
  }

  .justify-flex-end-sm {
    justify-content: flex-end;
  }

  .justify-center-sm {
    justify-content: center;
  }

  .align-stretch-sm {
    align-items: stretch;
  }

  .align-end-sm {
    align-items: flex-end;
  }

  .align-center-sm {
    align-items: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-md {
    justify-content: space-between;
  }

  .justify-space-around-md {
    justify-content: space-around;
  }

  .justify-flex-start-md {
    justify-content: flex-start;
  }

  .justify-flex-end-md {
    justify-content: flex-end;
  }

  .justify-center-md {
    justify-content: center;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .align-end-md {
    align-items: flex-end;
  }

  .align-center-md {
    align-items: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  nav {
    width: auto;
    justify-content: flex-end;
  }

  .page-title {
    width: auto;
  }

  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-lg {
    justify-content: space-between;
  }

  .justify-space-around-lg {
    justify-content: space-around;
  }

  .justify-flex-start-lg {
    justify-content: flex-start;
  }

  .justify-flex-end-lg {
    justify-content: flex-end;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .align-stretch-lg {
    align-items: stretch;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .align-center-lg {
    align-items: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-xl {
    justify-content: space-between;
  }

  .justify-space-around-xl {
    justify-content: space-around;
  }

  .justify-flex-start-xl {
    justify-content: flex-start;
  }

  .justify-flex-end-xl {
    justify-content: flex-end;
  }

  .justify-center-xl {
    justify-content: center;
  }

  .align-stretch-xl {
    align-items: stretch;
  }

  .align-end-xl {
    align-items: flex-end;
  }

  .align-center-xl {
    align-items: center;
  }
}
