.detailbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.comment-box-detail{
    width: 65%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 5%;
    margin-top: 2%;
    border-radius: 2rem;

}

