.profile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
}

h2{
    margin-top: 2%;
    margin-bottom: 10%;

}
.friend-btn{
    background-color: white;
    color: black;
}

.thoughtlist{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

