.foot{
    background-color: transparent;
}

.sbook{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
 
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 30px;
}